/*definindo a fonte*/

* {
    font-family: "Courier New", Courier, monospace;
}


/*formatando corpo*/

body {
    background: whitesmoke;
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
}


/*formatando cabeçalho e rodapea */

header,
footer {
    background-color: skyblue;
    border: solid 2px;
    border-radius: 15px;
}


/*alinhando h1 no centro*/

h1 {
    text-align: center;
}


/* menu horizontal*/

nav ul li {
    display: inline-block;
    padding: 20px;
}


/*estilizando a section*/

section {
    padding: 20px;
    background-color: steelblue;
    margin: 5px;
    border: solid 2px;
    border-radius: 15px;
}


/*cores e texto do link*/

nav ul li a {
    text-decoration: none;
    color: blue;
}

nav ul li a:hover {
    text-decoration: none;
    color: slateblue;
}


/*definindo largura e alinhando texto do formulario*/

#formulario {
    text-align: center;
    width: 500px;
}


/*definindo as sections em horizontal*/

section {
    display: inline-block;
    background-image: url("../img/fundo.jpg");
}


/*definindo largura da section explicação e alinhando seu texto*/

#explicacao {
    text-align: center;
    width: 500px;
}


/*h3 do form*/

#formulario h3 {
    font-size: 25px;
}


/*tamanho da fonte do form*/

#formulario {
    font-size: 25px;
}


/*estilo do input*/

#formulario input.inpu {
    height: 30px;
    border: solid 1px;
    border-radius: 15px;
    font-size: 20px;
}


/*estilo do button*/

#formulario input#envio {
    height: 50px;
    width: 150px;
    border: solid 2px;
    border-radius: 15px;
    font-size: 20px;
    line-height: right;
}


/*margin dos input */

#formulario input {
    margin: 10px;
}


/*tamanho da fonte do rodape*/

footer {
    font-size: 25px;
}


/*input imc*/

#resposta {
    border: solid 1px;
    background: white;
    border-radius: 15px;
}

#detalhes {
    border: solid 1px;
    background: white;
    border-radius: 15px;
}

#explicacao img {
    width: 60%;
    height: 50%;
    border-radius: 15px;
}

a:hover {
    border: solid 1px;
    border-color: slategrey;
    background: slategrey;
    border-radius: 15px;
}

#formulario input:hover {
    background-color: gray;
}